body {
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 80vw;

    background: linear-gradient(-233deg, #00004f 25%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

main .Personagem {
    display: none;
    height: 100vh;
}

main .Personagem.selecionado {
    display: block;
}
main .Personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Conteúdo {
    position: absolute;
    top: 0;
    left: 136px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 480px;
    z-index: 1;
}

.Conteúdo .Nome-personagem {
    color: #9900ff;
    font-size: 48px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 25px;
}
.Conteúdo .Nome-personagem {





}
.Conteúdo .descricao {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 26px;
}
.Conteúdo .Logo {
    background-image: url("../Imagens/Logo.png");
    width: 390px;
    height: 216px;
    background-size:cover;
    margin-bottom: 35px;
}
.botoes {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 130, 0.349);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 120px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.botoes .botao {
    border: none;
    cursor: pointer;
    border-radius: 50%;


}
.botoes .botao.selecionado {
    transform: scale(1.3);
    box-shadow:0 0 10px pink;
    border: solid 0.5px blue;
    border-radius: 20px;
    color: blue;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
    border-radius: 50%;
    
}
.audio {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 5px;
}
@keyframes mymove {
    from {background-color: white;}
    to {background-color: purple;}
}
